#bookCarousel img {
  height:350px;
  object-fit: cover;
  filter: brightness(0.4)
}
#bookCarousel button {
  background-color: #910c00;
  color:white;
}
#bookCarousel p {
  color:#d1d1d1

}


form {
  background-color: #910c00;
  color:white;
}


.card img{
  height:200px;
  object-fit: cover;
}
.card {
  background:#F6F6F6!important;
}
