/* we use pre-built bootstrap for visual and responsiveness purposes.
However some custom CSS is done below for greater visual control and customization */
#mealSection .card{
    background-color: #F6F6F6!important;
}
#mealSection .card img{
  height:200px;
  object-fit: cover;
}
#mealSection .card-body {
  padding:20px;
}
